#htmlData{
    max-height: 260px;
    overflow-y: scroll;

}
#htmlData1{
  /* display:none; */

}
/* Track */
::-webkit-scrollbar {
    border-radius: 10px;
    width: 7px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    width: 10px;
    background: #063536;
    border-radius: 10px;
  }

  /* .html2canvas-container { width: 3000px !important; height: 3000px !important; } */
