<div class="bg-white">
  <div class="card">
    <div class="card-body">
      <h5>Summary</h5>
    </div>
    <div class="card-body" id="htmlData" #htmlDatas>
      <div *ngIf="(topcovers_types | keyvalue)?.length">
        <h6>Ortotric Work Order</h6>
        <ul>
          <li *ngFor="let key of _.keys(topcovers_types)">
            {{ key }} ( {{ topcovers_types[key] }} )
          </li>
        </ul>
      </div>

      <div class="">
        <h6>Types of Shell and Cushion</h6>
        <div *ngIf="deep_heel_cup?.length > 0">
          <h6>Deep Heel Cup</h6>
          <ul>
            <li>{{ deep_heel_cup }}</li>
          </ul>
        </div>
        <div *ngIf="(tcsc_length_types | keyvalue)?.length">
          <h6>Length</h6>
          <ul>
            <li *ngFor="let key of _.keys(tcsc_length_types)">
              {{ tcsc_length_types[key] }}
            </li>
          </ul>
        </div>
        <div *ngIf="(tcsc_cusion_types | keyvalue)?.length">
          <h6>Cusion</h6>
          <ul>
            <li *ngFor="let key of _.keys(tcsc_cusion_types)">
              {{ tcsc_cusion_types[key] }}
            </li>
          </ul>
        </div>
        <div *ngIf="(tcsc_types_of_shell | keyvalue)?.length">
          <h6>Types of shell</h6>
          <ul>
            <li *ngFor="let key of _.keys(tcsc_types_of_shell)">
              {{ tcsc_types_of_shell[key] }}
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="(modification_types | keyvalue)?.length">
        <h6>Modifications</h6>
        <ul>
          <li *ngFor="let key of _.keys(modification_types)">
            {{ key }} ({{ modification_types[key] }})
          </li>
        </ul>
      </div>

      <div
        *ngIf="
        tu_suede?.length > 0 ||
        tu_microcell?.length > 0 ||
        tu_vinyl?.length > 0
        "
      >
        <h5>Middlelayer</h5>
        <div *ngIf="tu_vinyl?.length > 0">
          <h6>Vinyl</h6>
          <ul>
            <li>{{ tu_vinyl }}</li>
          </ul>
        </div>
        <div *ngIf="tu_suede?.length > 0">
          <h6>Suede</h6>
          <ul>
            <li>{{ tu_suede }}</li>
          </ul>
        </div>
        <div *ngIf="tu_microcell?.length > 0">
          <h6>Microcell</h6>
          <ul>
            <li>{{ tu_microcell }}</li>
          </ul>
        </div>
      </div>
      <!--  -->
      <div *ngIf="(sheel_modifications | keyvalue)?.length">
        <h6 class="text-capitalize">Sheel Modifications</h6>
        <ul>
          <li *ngFor="let key of _.keys(sheel_modifications)">
            {{ key }} ({{ sheel_modifications[key] }})
          </li>
        </ul>
      </div>
    </div>
    
  </div>
  <button class="btn btn-success btn-block m-3" (click)="openPDF()">Download PDF</button>
</div>
