<div class="bg-white">
    <div class="card py-2">
      <div class="card-header">
        <h5>Summary</h5>
      </div>
      <div class="card-body">
        <div class="">
          <h6>Ortotric Work Order</h6>
        </div>
        <div class="">
          <h6>Types of Orthotrics</h6>
        </div>
        <div class="">
          <h6>Types of Underlay</h6>
        </div>
        <div class="">
          <h6>Types of Top Covers</h6>
        </div>
        <div class="">
          <h6>Types of Shell and Cushion</h6>
        </div>
        <div class="">
          <h6>Modifications</h6>
        </div>
      </div>
    </div>
  </div>