<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div style="margin-top: 15px; padding: 55px 40px 250px 40px">
        <form>
          <div id="container">
            <!--! ALL SUB OPTIONS OF TOPCOVERS -->
            <!--VINYL OPTIONS -->
            <div id="vinyl">
              <label class="item" *ngFor="let options of tc_vinyl_options">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="vinylopts"
                    [value]="options.value"
                    (change)="onItemChange($event.target.value)"
                    [checked]="tc_vinyl == options.value"
                  />
                  <label class="form-check-label"> {{ options.value }} </label>
                </div>
              </label>
            </div>
            <!--SPORTS OPTIONS -->
            <div id="sports" *ngFor="let options of tc_sports_options">
              <label class="item">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sportsopts"
                    [value]="options.value"
                    (change)="onItemChange1($event.target.value)"
                    [checked]="tc_sports == options.value"
                  />
                  <label class="form-check-label"> {{ options.value }} </label>
                </div>
              </label>
            </div>
            <!--MICROCELL OPTIONS -->
            <div id="microcell">
              <label class="item" *ngFor="let options of tc_microcell_options">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="microcellopts"
                    [value]="options.value"
                    (change)="onItemChange2($event.target.value)"
                    [checked]="tc_microcell == options.value"
                  />
                  <label class="form-check-label"> {{ options.value }} </label>
                </div>
              </label>
            </div>
            <!--LEATHER OPTIONS -->
            <div id="leather">
              <label class="item" *ngFor="let options of tc_leather_options">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="leatheropts"
                    [value]="options.value"
                    (change)="onItemChange3($event.target.value)"
                    [checked]="tc_leather == options.value"
                  />
                  <label class="form-check-label"> {{ options.value }} </label>
                </div>
              </label>
            </div>
            <!--EVA PERFERATED OPTIONS -->
            <div id="evaperferated">
              <label
                class="item"
                *ngFor="let options of tc_evaperferated_options"
              >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="evaperferatedopts"
                    [value]="options.value"
                    (change)="onItemChange4($event.target.value)"
                    [checked]="tc_evaperferated == options.value"
                  />
                  <label class="form-check-label"> {{ options.value }} </label>
                </div>
              </label>
            </div>
            <!--X STATIC OPTIONS -->
            <div id="xstatic">
              <label class="item">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="xstaticopts"
                    value="Black"
                    (change)="onItemChange5($event.target.value)"
                    [checked]="tc_xstatic == 'Black'"
                  />
                  <label class="form-check-label"> Black </label>
                </div>
              </label>
            </div>
            <!--SUEDO OPTIONS -->
            <div id="suedo">
              <label class="item" *ngFor="let options of tc_suedo_options">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="suedoopts"
                    [value]="options.value"
                    (change)="onItemChange6($event.target.value)"
                    [checked]="tc_suedo == options.value"
                  />
                  <label class="form-check-label"> {{ options.value }} </label>
                </div>
              </label>
            </div>

            <!--! ALL SUB OPTIONS OF Underlay -->
            <div id="mi-vinyl">
              <label class="item" *ngFor="let options of mi_vinyl_options">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="mivinylopts"
                    [value]="options.value"
                    (change)="onItemChangevinyl($event.target.value)"
                    [checked]="mi_vinyl == options.value"
                  />
                  <label class="form-check-label"> {{ options.value }} </label>
                </div>
              </label>
            </div>

            <div id="mi-suede">
              <label class="item" *ngFor="let options of mi_suede_options">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="misuedeopts"
                    [value]="options.value"
                    (change)="onItemChangesuede($event.target.value)"
                    [checked]="mi_suede == options.value"
                  />
                  <label class="form-check-label"> {{ options.value }} </label>
                </div>
              </label>
            </div>

            <div id="mi-microcell">
              <label class="item" *ngFor="let options of mi_microcell_options">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="mimicrocell"
                    [value]="options.value"
                    (change)="onItemChangemicrocell($event.target.value)"
                    [checked]="mi_microcell == options.value"
                  />
                  <label class="form-check-label"> {{ options.value }} </label>
                </div>
              </label>
            </div>
            <!--! Types of Shell and Cushion -->
            <div id="sheel-types-cushion">
              <a class="item" routerLink="deep-heel-cup">
                <h6>Deep Heel Cup</h6>
              </a>

              <a class="item" routerLink="length">
                <h6>Length</h6>
              </a>

              <a class="item" routerLink="cusion">
                <h6>Cusion</h6>
              </a>

              <a class="item" routerLink="types-of-sheel">
                <h6>Types Of Shell</h6>
              </a>
            </div>
            <!--! Modifications -->
            <div id="heel-spur-pad">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="heel_spur_pad_right ? true : false"
                    (change)="heel_spur_pad_right_change($event)"
                  />
                  Right
                </div> </label
              >
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="heel_spur_pad_left ? true : false"
                    (change)="heel_spur_pad_left_change($event)"
                  />
                  Left
                </div>
              </label>
            </div>

            <div id="heel-cusion">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="heel_cusion_left ? true : false"
                    (change)="heel_cusion_left_change($event)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="heel_cusion_right ? true : false"
                    (input)="heel_cusion_right_change($event)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="met-pad">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="met_pad_left"
                    (input)="met_pad_left_change($event.target.value)"
                  />
                  Left
                </div>
              </label>
              <a class="item">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="met_pad_right"
                    (input)="met_pad_right_change($event.target.value)"
                  />
                  <label class="form-check-label"> Right </label>
                </div>
              </a>
            </div>

            <div id="bet-bar-pad">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="bet_bar_pad_left"
                    (input)="bet_bar_pad_left_change($event.target.value)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="bet_bar_pad_right"
                    (input)="bet_bar_pad_right_change($event.target.value)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="letral-clip">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="letral_clip_left ? true : false"
                    (change)="letral_clip_left_change($event)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="letral_clip_right ? true : false"
                    (change)="letral_clip_right_change($event)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="toe-crest">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="toe_crest_left ? true : false"
                    (change)="toe_crest_left_change($event)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="toe_crest_right ? true : false"
                    (change)="toe_crest_right_change($event)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="cubiod-pad">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="cubiod_pad_left ? true : false"
                    (change)="cubiod_pad_left_change($event)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="cubiod_pad_right ? true : false"
                    (change)="cubiod_pad_right_change($event)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="high-medial-flang">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="high_medial_flang_left ? true : false"
                    (change)="high_medial_flang_left_change($event)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="high_medial_flang_right ? true : false"
                    (change)="high_medial_flang_right_change($event)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="heel-lift">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="heel_lift_left"
                    (input)="heel_lift_left_change($event.target.value)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="heel_lift_right"
                    (input)="heel_lift_right_change($event.target.value)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="reinforced-arch">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="reinforced_arch_left ? true : false"
                    (change)="reinforced_arch_left_change($event)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="reinforced_arch_right ? true : false"
                    (change)="reinforced_arch_right_change($event)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="rear-foot-posting">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="rear_foot_posting_left ? true : false"
                    (change)="rear_foot_posting_left_change($event)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="rear_foot_posting_right ? true : false"
                    (change)="rear_foot_posting_right_change($event)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="navicular-pac">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="navicular_pac_left ? true : false"
                    (change)="navicular_pac_left_change($event)"
                  />
                  Left
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="navicular_pac_right ? true : false"
                    (change)="navicular_pac_right_change($event)"
                  />
                  Right
                </div>
              </label>
            </div>

            <div id="scaphoid-pad">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="scaphoid_pad_right ? true : false"
                    (change)="scaphoid_pad_right_change($event)"
                  />
                  Right
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="scaphoid_pad_left ? true : false"
                    (change)="scaphoid_pad_left_change($event)"
                  />
                  Left
                </div>
              </label>
            </div>

            <div id="reverse-morton-extension">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="reverse_morton_extension_right ? true : false"
                    (change)="reverse_morton_extension_right_change($event)"
                  />
                  Right
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="reverse_morton_extension_left ? true : false"
                    (change)="reverse_morton_extension_left_change($event)"
                  />
                  Left
                </div>
              </label>
            </div>

            <div id="mortons-extension">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="morton_extension_right ? true : false"
                    (change)="morton_extension_right_change($event)"
                  />
                  Right
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="morton_extension_left ? true : false"
                    (change)="morton_extension_left_change($event)"
                  />
                  Left
                </div>
              </label>
            </div>

            <div id="u-cut-out">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="u_cut_out_right"
                    (input)="u_cut_out_right_change($event.target.value)"
                  />
                  Right
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="u_cut_out_left"
                    (input)="u_cut_out_left_change($event.target.value)"
                  />
                  Left
                </div>
              </label>
            </div>

            <div id="extrensic-fore-foot-position">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="extrensic_fore_foot_position_right"
                    (input)="
                      extrensic_fore_foot_position_right_change(
                        $event.target.value
                      )
                    "
                  />
                  Right
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="extrensic_fore_foot_position_left"
                    (input)="
                      extrensic_fore_foot_position_left_change(
                        $event.target.value
                      )
                    "
                  />
                  Left
                </div>
              </label>
            </div>

            <div id="extrensic-rare-foot-position">
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="extrensic_rare_foot_position_right"
                    (input)="
                      extrensic_rare_foot_position_right_change(
                        $event.target.value
                      )
                    "
                  />
                  Right
                </div>
              </label>
              <label class="item text-white">
                <div class="form-check">
                  <input
                    class="input-sm"
                    type="number"
                    [value]="extrensic_rare_foot_position_left"
                    (input)="
                      extrensic_rare_foot_position_left_change(
                        $event.target.value
                      )
                    "
                  />
                  Left
                </div>
              </label>
            </div>
            <!--! Sheel Modifications -->
            <div id="sheel-modifications">
              <a class="item text-white" routerLink="heel-center-pocket">
                <h6>Heel Center Pocket</h6>
              </a>
              <a class="item" routerLink="first-meet-cut-out">
                <h6>1st Met Cut Out</h6>
              </a>
              <a class="item" routerLink="first-ray-cut-out">
                <h6>1st Ray Cut Out</h6>
              </a>
              <a class="item" routerLink="fascia-grove">
                <h6>Fascia Grove</h6>
              </a>
              <a class="item" routerLink="induced-toeing">
                <h6>Induced Toeing</h6>
              </a>
              <a class="item" routerLink="kirby-skive-medial">
                <h6>Kirby Skive Medial</h6>
              </a>
              <a class="item" routerLink="kirby-skive-lateral">
                <h6>Kirby Skive Lateral</h6>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
