<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="" style="margin-top: 15px; padding: 55px 40px 250px 40px">
        <div id="container">
          <!--! DEEP HEEL CUP OPTIONS -->
          <div id="deep-heel">
            <label class="item" *ngFor="let options of deep_heel_cup_options">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  [value]="options.value"
                  [checked]="deep_heel_cup == options.value"
                  (change)="deep_heel_cup_change($event.target.value)"
                />
                <label class="form-check-label"> {{ options.value }} </label>
              </div>
            </label>
          </div>
          <!--! length OPTIONS -->
          <div id="length">
            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Full Length"
                  (change)="tcsc_full_length($event, 'Full Length')"
                  [checked]="tcsc_ful_length"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Full Length
                </label>
              </div>
            </label>

            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Sulcus"
                  (change)="tcsc_full_length($event, 'Sulcus')"
                  [checked]="tcsc_Sclus"
                />
                <label class="form-check-label"> Sulcus</label>
              </div>
            </label>

            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="3/4 lo meters"
                  (change)="tcsc_full_length($event, '3/4 lo meters')"
                  [checked]="lo_meters_length"
                />
                <label class="form-check-label"> 3/4 lo meters</label>
              </div>
            </label>
          </div>
          <!--! cusion OPTIONS -->
          <div id="cusion">
            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="none"
                  (change)="tcsc_cusion_change($event, 'none')"
                  [checked]="tscs_none"
                />
                <label class="form-check-label">None</label>
              </div>
            </label>

            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="2mm"
                  (change)="tcsc_cusion_change($event, '2mm')"
                  [checked]="tscs_2mm"
                />
                <label class="form-check-label"> 2mm</label>
              </div>
            </label>

            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="3mm"
                  (change)="tcsc_cusion_change($event, '3mm')"
                  [checked]="tscs_3mm"
                />
                <label class="form-check-label"> 3mm</label>
              </div>
            </label>

            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Other"
                  (change)="tcsc_cusion_change($event, 'other')"
                  [checked]="tscs_other"
                />
                <label class="form-check-label"> Other</label>
              </div>
            </label>
          </div>
          <!--! Types Of Shell OPTIONS -->
          <div id="sheel-types">
            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Rigid (XT / CF)"
                  (change)="
                    tcsc_types_of_sheel_change($event, 'Rigid (XT / CF)')
                  "
                  [checked]="sheel_type_rigid"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Rigid (XT / CF)
                </label>
              </div>
            </label>

            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="Semi Rigid"
                  (change)="tcsc_types_of_sheel_change($event, 'Semi Rigid')"
                  [checked]="sheel_type_semi_rigid"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Semi Rigid
                </label>
              </div>
            </label>

            <label class="item">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="3 mm"
                  (change)="tcsc_types_of_sheel_change($event, '3 mm')"
                  [checked]="sheel_type_3_mm"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  3 mm
                </label>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
