<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div
        class="bg-white"
        style="margin-top: 15px; padding: 55px 40px 250px 40px"
      >
        <div id="container" style="background-color: #f8fafd">
          <!--! DEEP HEEL CUP OPTIONS -->
          <div id="deep-heel">
            <a class="item" >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                />
                <label class="form-check-label"> 10mm </label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                />
                <label class="form-check-label"> 12mm </label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                />
                <label class="form-check-label"> 15mm </label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                />
                <label class="form-check-label"> Other </label>
              </div>
            </a>
          </div>
          <!--! length OPTIONS -->
          <div id="length">
            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label" for="flexCheckDefault">
                  Full Length
                </label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label"> Sulcus</label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label"> 3/4 lo meters</label>
              </div>
            </a>
          </div>
          <!--! cusion OPTIONS -->
          <div id="cusion">
            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label" for="flexCheckDefault">
                  None
                </label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label"> 2mm</label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label"> 3mm</label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label"> Other</label>
              </div>
            </a>
          </div>
          <!--! Types Of Shell OPTIONS -->
          <div id="sheel-types">
            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label" for="flexCheckDefault">
                  Rigid (XT / CF)
                </label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label" for="flexCheckDefault">
                  Semi Rigid
                </label>
              </div>
            </a>

            <a class="item" >
              <div class="form-check">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label" for="flexCheckDefault">
                  3 mm
                </label>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
