body{
  background-color: #063536;
}

* {
  animation: fadeInAnimation ease 0.8s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



#container {
  width: 550px;
  height: 550px;
  margin: 10px auto;
  border: 3px dashed #fff;
  position: relative;
  border-radius: 50%;
  animation: spin 25s linear infinite;

}
.item {
  width: 150px;
  height: 150px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  background: transparent;
  box-shadow: 0 12px 24px 0 rgb(13 13 13 / 6%);
  animation: spin 25s  linear infinite reverse;
  text-decoration: none;
  /* border: 1px solid rgba(0, 0, 0, 0.041); */
  border: 1px dashed #fff;
  transition: all 0.5s;
  /* To get items in center */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item h6,
.item label {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.534);
  font-weight: 400;
}
.item img {
  width: 50px;
  height: 50px;
}

/* #container:hover > .item,
#container:hover {
  animation-duration: 99s;
}   */

  /* @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  } */
