<div class="container" >
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="bg-white" style="margin-top: 15px; padding: 55px 40px 250px 40px">
        <div id="container" style="background-color: #F8FAFD">
          <div id="initial">
            <a class="item sheels" routerLink="shell">
              <h6>Shell</h6>
              <img src="../../assets/cusion.png" alt="">
            </a>
            
            <a class="item itemsss modifications" routerLink="sheel">
              <h6>Modifications</h6>
              <img src="../../assets/settings.png" alt="">
            </a>
            
            <a class="item recomdations" routerLink="recomdations">
              <h6>Recomdations</h6>
              <img src="../../assets/recomedations.png" alt="">
            </a>
            
            <a class="item topcovers" routerLink="topcovers">
              <h6>Top Covers</h6>
              <img src="../../assets/settings.png" alt="">
            </a>
            
            <a class="item middlelayer" routerLink="middlelayer">
              <h6>Middle Layer</h6>
              <img src="../../assets/layer.png" alt="">
            </a>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
