<div class="container" style="overflow: hidden; height: 100vh">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div
        class="bg-white shadow-lg"
        style="margin-top: 40px; padding: 140px 50px"
      >
        <div id="container" style="background-color: #f6f6f6">
          <a class="item" routerLink="detail/Sheel">
            <h6>Sheel</h6>
            <img src="../../assets/1.jpg" alt="" />
          </a>
          <a class="item" routerLink="detail/modifications">
            <h6>Modifications</h6>
            <img src="../../assets/2.jpg" alt="" />
          </a>
          <a class="item" routerLink="detail/recomdations">
            <h6>Recomdations</h6>
            <img src="../../assets/3.jpg" alt="" />
          </a>
          <a class="item" routerLink="detail/top-covers">
            <h6>Top Covers</h6>
            <img src="../../assets/4.jpg" alt="" />
          </a>
          <a class="item" routerLink="detail/middle-layer">
            <h6>Middle Layer</h6>
            <img src="../../assets/7.jpg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
