<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="bg-white"  style="margin-top: 15px; padding: 55px 40px 250px 40px">
        <div id="container" style="background-color: #f8fafd">
          <!--!  TOPCOVERS INITIAL OPTIONS -->
          <div id="topcovers">
            <a class="item"  routerLink="tc-vinyl">
              <h6>Vinyl</h6>
            </a>

            <a class="item"  routerLink="tc-sports">
              <h6>Sports</h6>
            </a>

            <a class="item"  routerLink="tc-microcell">
              <h6>Microcell</h6>
            </a>

            <a class="item"  routerLink="tc-leather">
              <h6>Leather</h6>
            </a>

            <a class="item"  routerLink="tc-evaperferated">
              <h6>Eva Perferated</h6>
            </a>

            <a class="item"  routerLink="tc-xstatic">
              <h6>X Static</h6>
            </a>

            <a class="item"  routerLink="tc-sudeo">
              <h6>Sudeo</h6>
            </a>
          </div>
          <!--! Midlayer/Underlay -->
          <div id="middlayer">
            <a class="item"  routerLink="mi--vinyl">
              <h6>Vinyl</h6>
            </a>

            <a class="item"  routerLink="mi--suede">
              <h6>Suede</h6>
            </a>

            <a class="item"  routerLink="mi--microcell">
              <h6>Microcell</h6>
            </a>
          </div>
          <!--! SHEEL -->
          <div id="shell">
            <a class="item"  routerLink="sheel-types-cushion">
              <h6>Shell Type & Cusions</h6>
            </a>

            <a class="item"  routerLink="sheel-modifications">
              <h6>Shell Modifications</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
