<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="bg-white" style="margin-top: 15px; padding: 55px 50px">
        <div id="container" style="background-color: #f8fafd">
          <!--!  TOPCOVERS INITIAL OPTIONS -->
          <div id="topcovers">
            <a
              class="item"
              routerLink="tc-vinyl"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Vinyl</h6>
            </a>

            <a
              class="item"
              routerLink="tc-sports"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Sports</h6>
            </a>

            <a
              class="item"
              routerLink="tc-microcell"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Microcell</h6>
            </a>

            <a
              class="item"
              routerLink="tc-leather"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Leather</h6>
            </a>

            <a
              class="item"
              routerLink="tc-evaperferated"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Eva Perferated</h6>
            </a>

            <a
              class="item"
              routerLink="tc-xstatic"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>X Static</h6>
            </a>

            <a
              class="item"
              routerLink="tc-sudeo"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Sudeo</h6>
            </a>
          </div>
          <!--! Midlayer/Underlay -->
          <div id="middlayer">
            <a
              class="item"
              routerLink="mi--vinyl"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Vinyl</h6>
            </a>

            <a
              class="item"
              routerLink="mi--suede"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Suede</h6>
            </a>

            <a
              class="item"
              routerLink="mi--microcell"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Microcell</h6>
            </a>
          </div>
          <!--! SHEEL -->
          <div id="shell">
            <a
              class="item"
              routerLink="sheel-types-cushion"
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Shell Type & Cusions</h6>
            </a>

            <a
              class="item"
              routerLink=""
              data-aos="zoom-in"
              data-aos-duration="700"
            >
              <h6>Shell Modifications</h6>
            </a>

          </div>

 

        </div>
      </div>
    </div>
  </div>
</div>
