<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="bg-white" style="margin-top: 15px; padding: 55px 50px">
        <div id="container" style="background-color: #F8FAFD">
          <!--  TOPCOVERS INITIAL OPTIONS -->
          <div id="topcovers">
            
            <a class="item" routerLink="vinyl" >
              <h6>Vinyl</h6>
            </a>

            <a class="item" routerLink="sports">
              <h6>Sports</h6>
            </a>

            <a class="item" routerLink="microcell">
              <h6>Microcell</h6>
            </a>

            <a class="item" routerLink="leather">
              <h6>Leather</h6>
            </a>

            <a class="item" routerLink="evaperferated">
              <h6>Eva Perferated</h6>
            </a>

            <a class="item" routerLink="xstatic">
              <h6>X Static</h6>
            </a>

            <a class="item" routerLink="sudeo">
              <h6>Sudeo</h6>
            </a>

          </div>

          <!-- Types of Midlayer/Underlay -->
          <div id="middlayer">
            <a class="item sheels">
              <h6>Vinyl</h6>
            </a>

            <a class="item " >
              <h6>Suede</h6>
            </a>

            <a class="item " >
              <h6>Microcell</h6>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
